{% extends 'base.html.twig' %}

{% block title %}Edit BlogPost{% endblock %}

{% block body %}
    <section class="prose mx-auto max-w-screen-lg w-full pt-12">

        <div class="flex flex-row justify-between items-baseline gap-44">
            <h1>Edit {{ blog_post.title }}</h1>
            {{ include('blog_post/_delete_form.html.twig') }}
        </div>

        {{ include('blog_post/_form.html.twig', {'button_label': 'Update'}) }}
    </section>
{% endblock %}
