{% extends 'base.html.twig' %}

{% block title %}New BlogPost{% endblock %}

{% block body %}
    <div class="prose mx-auto max-w-screen-lg w-full pt-12">
        <h1>Create new article</h1>
        {{ include('blog_post/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            ClassicEditor
                .create(document.querySelector('#blog_post_content'))
                .catch(error => {
                    console.error(error);
                });
            ClassicEditor
                .create(document.querySelector('#blog_post_summary'))
                .catch(error => {
                    console.error(error);
                });

            flatpickr("#blog_post_publishedAt", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                time_24hr: true,
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

