{% extends 'base.html.twig' %}

{% block title %}New BlogPost{% endblock %}

{% block body %}
    <div class="prose mx-auto max-w-screen-lg w-full pt-12">
        <h1>Create new article</h1>
        {{ include('blog_post/_form.html.twig') }}
    </div>
{% endblock %}
