{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="mx-auto p-5">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">
            Lorem Ipsum: A Placeholder's Tale
        </h1>
        <p class="text-base text-gray-700 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed vitae nisi eget libero efficitur fringilla. Vivamus pretium, nulla quis lobortis
            ornare, arcu dui viverra nisi, non aliquam erat erat non nisi. Integer in massa nec l
            eo sollicitudin eleifend. Morbi lacinia, nisl sit amet consequat convallis, nisi erat
            ullamcorper quam, eget facilisis felis sapien in odio. Sed at faucibus nunc.
        </p>
        <p class="text-base text-gray-700 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed vitae nisi eget libero efficitur fringilla. Vivamus pretium, nulla quis lobortis
            ornare, arcu dui viverra nisi, non aliquam erat erat non nisi. Integer in massa nec l
            eo sollicitudin eleifend. Morbi lacinia, nisl sit amet consequat convallis, nisi erat
            ullamcorper quam, eget facilisis felis sapien in odio. Sed at faucibus nunc.
        </p>
        <p class="text-base text-gray-700 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed vitae nisi eget libero efficitur fringilla. Vivamus pretium, nulla quis lobortis
            ornare, arcu dui viverra nisi, non aliquam erat erat non nisi. Integer in massa nec l
            eo sollicitudin eleifend. Morbi lacinia, nisl sit amet consequat convallis, nisi erat
            ullamcorper quam, eget facilisis felis sapien in odio. Sed at faucibus nunc.
        </p>
        <p class="text-base text-gray-700">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed vitae nisi eget libero efficitur fringilla. Vivamus pretium, nulla quis lobortis
            ornare, arcu dui viverra nisi, non aliquam erat erat non nisi. Integer in massa nec l
            eo sollicitudin eleifend. Morbi lacinia, nisl sit amet consequat convallis, nisi erat
            ullamcorper quam, eget facilisis felis sapien in odio. Sed at faucibus nunc.
        </p>
    </div>
{% endblock %}
